<?xml version="1.0"?>

  <!-- LOG4NET CONFIGURATION -->
  <log4net>
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />

      <!-- SVILUPPO -->
      <connectionString value="Data Source=ULTRAPULITO;User ID=sa;Password=r00t;Initial Catalog=TXTemp;Persist Security Info=True;" /> 

      <commandText value="INSERT INTO Log (logDate,logLevel,logger,logMessage,logInfo) VALUES (getdate(),@logLevel,@logger,@logMessage,@logInfo)" />      
        
      <parameter>
        <parameterName value="@logLevel"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%p"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%c"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logMessage"/>
        <dbType value="String"/>
        <size value="1000000"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%m"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logInfo"/>
        <dbType value="String"/>
        <size value="4000"/>
        <layout type="log4net.Layout.ExceptionLayout"/>
      </parameter>      
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="AdoNetAppender" />
    </root>
  </log4net>