<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>

    <log4net configSource="Log.config"></log4net>

    <appSettings>
        <add key="ConnString" value="Data Source=ULTRAPULITO;User ID=sa;Password=r00t;Initial Catalog=TXTemp;Persist Security Info=True;" />
    </appSettings>

    <connectionStrings />

    <system.web>
        <compilation debug="true" />
        <httpHandlers>
            <add verb="*" path="/TXIntegrator/Controller/TXIntegrator.ashx" type="Volcano.TXIntegrator.Controller.TXIntegrator,TXIntegrator.Controller" validate="false" />            
        </httpHandlers>
    </system.web>
    <system.webServer>
        <handlers>
            <add name="/TXIntegrator/Controller/TXIntegrator.ashx_*" path="/TXIntegrator/Controller/TXIntegrator.ashx" verb="*" type="Volcano.TXIntegrator.Controller.TXIntegrator,TXIntegrator.Controller" preCondition="integratedMode" />
        </handlers>
        <validation validateIntegratedModeConfiguration="false" />
    </system.webServer>

</configuration>
